.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--size-l);
  height: var(--size-2xl);
}

.headerMenuContainer svg {
  width: var(--size-l);
  height: var(--size-l);
}

.logo {
  font-family: 'Scramble';
}
