.loader {
  width: 100vw;
  height: 100vh;
  background: #00000082;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-transform: capitalize;
  margin: 25px 0;
  font-size: 1.5em;
}

.search {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.searchForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 var(--size-2xl);
}

.input {
  padding: var(--size-s);
  text-align: center;
  border-radius: var(--size-l);
  font-size: var(--size-l);
  text-transform: uppercase;
  margin: var(--size-l) 0;
}

.filtersContainer {
  background-color: white;
  padding: var(--size-s);
  border-radius: var(--size-s);
}

.filters {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  display: grid;
}

.filterItem {
  border-radius: var(--size-l);
  font-size: var(--size-m);
  margin: var(--size-2xs);
  padding: var(--size-s);
  text-transform: uppercase;
}

.cta {
  margin: var(--size-m) var(--size-2xs) 0;
  padding: var(--size-s);
  border-radius: var(--size-l);
  width: 98%;
}
.reset {
  margin: var(--size-m) var(--size-2xs) 0;
  padding: var(--size-s);
  width: 98%;
  background-color: transparent;
  border: none;
  color: black;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
