.Search {
  display:  flex;
  flex-direction: column;
  width:  100vw;
  align-items: center;
  justify-content: center;
}

.Search-Form {
  display:  flex;
  flex-direction: column;
  width: 100vw;
  margin:0  var(--size-2xl);
}
